@import "./vars";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $white;
  background: $black;
  font-family: "Inter", sans-serif;
}

body {
  margin: 1rem;
  font-size: 1rem;
}

a {
  color: $white;
  text-decoration: none;
}

nav {
  margin: 0 0 1rem;
  display: flex;
  gap: 2.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: lighten($black, 5%);
  overflow-x: auto;
  a {
    &:last-child {
      padding-right: 1.5rem;
    }
    &.active {
      color: darken($white, 50%);
      font-weight: bolder;
      position: relative;
      z-index: 10;
      &::before {
        position: absolute;
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background: darken($white, 50%);
        top: -1.5rem;
        left: 50%;
        margin-left: -0.25rem;
      }
      &::after {
        position: absolute;
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background: darken($white, 50%);
        bottom: -1.5rem;
        left: 50%;
        margin-left: -0.25rem;
      }
    }
    &:hover {
      color: darken($white, 50%);
    }
  }
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  li {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    &.row {
      flex-direction: column;
      .child {
        &--view,
        > li {
          grid-template-columns: minmax(0, 1fr);
        }
      }
      > strong {
        &:hover {
          cursor: pointer;
        }
        &::before {
          position: absolute;
          right: 1rem;
          content: "-";
        }
      }
      &.active {
        strong {
          &::before {
            content: "+";
          }
          & + ul {
            display: none;
          }
        }
      }
    }
    span,
    strong,
    a {
      border-radius: 0.5rem;
      padding: 1.5rem;
    }
    span {
      word-break: break-all;
      background: lighten($black, 10%);
    }
    strong {
      position: relative;
      align-self: flex-start;
      text-transform: uppercase;
      background: lighten($black, 20%);
    }
    a {
      text-align: center;
      text-transform: uppercase;
      color: $black;
      background: $white;
    }
  }
}
